<div class="row m-5">
  <div class="col-3 m-2">
    <div class="card">
      <div class="card-header text-center">
        ジャンル検索
      </div>
      <div class="card-body">
        <a href="#">ケーキ</a>
        <a href="#">焼き菓子</a>
        <a href="#">プリン</a>
        <a href="#">キャンディ</a>
      </div>
    </div>
  </div>

  <div class="col-8 m-2">
    <div class="card border-0">
      <%= image_tag "top-cake.jpg", class:"card-img"%>
      <div class="card-img-overlay d-flex justify-content-center align-items-center ">
        <p class="card-text text-black bg-white">
          ようこそ、ながのCAKEへ!<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
</div>

  <h3 class="text-center">新着商品</h3>
  <div class="row m-5">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <%= image_tag "top-cake.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <%= image_tag "top-cake.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <%= image_tag "top-cake.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <%= image_tag "top-cake.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="m-5 text-right"><a href="#">全ての商品を見る＞</a></div>



