<div class="container m-5">
<h3>ログイン</h3>
<p>会員の方はこちらからログイン</p>

<%= form_with model: @customer, url: customer_session_path do |f| %>
<table class="table table-borderless">
  <thead>
      <th></th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <tr>
      <td><%= f.label :email, "メールアドレス" %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com", class:"form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :password, "パスワード" %></td>
      <td><%= f.password_field :password, autocomplete: "current-password", class:"form-control"  %></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2"><%= f.submit "ログイン", class: "btn btn-primary" %></td>
    </tr>
  </tbody>
</table>
<% end %>

<h3>会員登録がお済みでない方</h3>
  <p><%= link_to "こちら", new_customer_registration_path, class: "underline" %>から新規登録を行なってください。</p>

</div>